In [2]:
import pandas as pd
import numpy as np

train_datasets= pd.read_csv('Trainset.csv')

# print(train_datasets.info())

# x_train = train_datasets.iloc[:, :-1].values #makes a 2d array
# y_train = train_datasets.iloc[:, 17].values  #makes simple array

# test_datasets= pd.read_csv('xtest.csv')

# x_test = test_datasets.iloc[:, :].values #makes a 2d array

In [3]:
c_dataset=train_datasets.select_dtypes(include=['object']).copy()
print(c_dataset.head(5))

  Month        VisitorType
0   Dec  Returning_Visitor
1   May  Returning_Visitor
2   Mar  Returning_Visitor
3   Sep        New_Visitor
4   May  Returning_Visitor

In [5]:
train_datasets.head(2)

,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend,Revenue
0,1.0,10.0,0.0,0.0,9.0,700.000000,0.0,0.011111,29.62189,0.0,Dec,2,2,9,10,Returning_Visitor,False,1
1,2.0,15.0,0.0,0.0,10.0,894.666667,0.0,0.022222,0.00000,0.0,May,2,4,4,2,Returning_Visitor,False,0

In [6]:

train_datasets['Month'].value_counts()

May     2853
Nov     2531
Mar     1636
Dec     1482
Oct      476
Sep      375
Jul      370
Aug      363
June     244
Feb      150
Name: Month, dtype: int64

In [11]:
replace_map1 = {'Month':
                {'Jan':1,'Feb':2,'Mar':3,'April':4,'May':5,'June':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}}

In [13]:
train_dataset_replace = train_datasets.copy()
train_dataset_replace.replace(replace_map1, inplace=True)

# print(train_dataset_replace.head())

In [14]:
train_dataset_replace.head()

,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend,Revenue
0,1.0,10.0,0.0,0.0,9.0,700.000000,0.000000,0.011111,29.621890,0.0,12,2,2,9,10,Returning_Visitor,False,1
1,2.0,15.0,0.0,0.0,10.0,894.666667,0.000000,0.022222,0.000000,0.0,5,2,4,4,2,Returning_Visitor,False,0
2,1.0,85.0,0.0,0.0,14.0,306.500000,0.000000,0.004444,0.000000,0.0,3,2,2,3,2,Returning_Visitor,False,0
3,5.0,175.1,0.0,0.0,26.0,615.559524,0.000000,0.002083,62.773672,0.0,9,1,1,1,3,New_Visitor,True,1
4,2.0,25.0,0.0,0.0,5.0,40.000000,0.066667,0.083333,0.000000,0.6,5,2,2,1,1,Returning_Visitor,False,0

In [15]:
replace_map2 = {'VisitorType':{'New_Visitor':1,'Returning_Visitor':2,'Other':3}}
train_dataset_replace.replace(replace_map2, inplace=True)

In [16]:
train_dataset_replace.head()

,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend,Revenue
0,1.0,10.0,0.0,0.0,9.0,700.000000,0.000000,0.011111,29.621890,0.0,12,2,2,9,10,2,False,1
1,2.0,15.0,0.0,0.0,10.0,894.666667,0.000000,0.022222,0.000000,0.0,5,2,4,4,2,2,False,0
2,1.0,85.0,0.0,0.0,14.0,306.500000,0.000000,0.004444,0.000000,0.0,3,2,2,3,2,2,False,0
3,5.0,175.1,0.0,0.0,26.0,615.559524,0.000000,0.002083,62.773672,0.0,9,1,1,1,3,1,True,1
4,2.0,25.0,0.0,0.0,5.0,40.000000,0.066667,0.083333,0.000000,0.6,5,2,2,1,1,2,False,0

In [17]:
train_datasets.isnull().sum()

Homepage              14
Homepage _Duration    14
Aboutus               14
Aboutus_Duration      14
Contactus             14
Contactus_Duration    14
BounceRates           14
ExitRates             14
PageValues             0
SpecialDay             0
Month                  0
OperatingSystems       0
Browser                0
Province               0
TrafficType            0
VisitorType            0
Weekend                0
Revenue                0
dtype: int64

In [18]:
train_dataset_replace.isnull().sum()

Homepage              14
Homepage _Duration    14
Aboutus               14
Aboutus_Duration      14
Contactus             14
Contactus_Duration    14
BounceRates           14
ExitRates             14
PageValues             0
SpecialDay             0
Month                  0
OperatingSystems       0
Browser                0
Province               0
TrafficType            0
VisitorType            0
Weekend                0
Revenue                0
dtype: int64

In [19]:
train_dataset_replace.fillna(train_dataset_replace.mean(), inplace=True)

In [20]:
train_dataset_replace.isnull().sum()

Homepage              0
Homepage _Duration    0
Aboutus               0
Aboutus_Duration      0
Contactus             0
Contactus_Duration    0
BounceRates           0
ExitRates             0
PageValues            0
SpecialDay            0
Month                 0
OperatingSystems      0
Browser               0
Province              0
TrafficType           0
VisitorType           0
Weekend               0
Revenue               0
dtype: int64